@model EditAccountViewModel
@{
    ViewData["Title"] = "EditAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-aos="fade-down" data-aos-duration="1000">
    <div class="row">
        <div class="col-md-12 col-lg-3">
            <ul class="list-group border custom-box-shadow">
                <li class="list-group-item text-center list-group-bg">
                    <a asp-controller="Account" asp-action="ShowProfile" asp-route-id="@Model.UserId">
                        <img src="~/imgs/male-user-100.png" alt="user-icon" />
                    </a>
                    <p class="text-white mt-1">@Model.UserName</p>
                    <a asp-controller="Account" asp-action="LogOut" title="خروج از حساب">
                        <i class="fas fa-power-off icon-hover"></i>
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="text-hover small-font">
                        <i class="fas fa-circle menu-small-icon"></i>
                        ویرایش حساب کاربری
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="text-hover small-font">
                        <i class="fas fa-circle menu-small-icon"></i>
                        تغییر کلمه عبور
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="text-hover small-font">
                        <i class="fas fa-circle menu-small-icon"></i>
                        سفارشات من
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="text-hover small-font">
                        <i class="fas fa-circle menu-small-icon"></i>
                        پیام ها
                    </a>
                </li>
                <li class="list-group-item">
                    <a asp-controller="Account" asp-action="LogOut" class="text-hover small-font">
                        <i class="fas fa-circle menu-small-icon"></i>
                        خروج از حساب
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-9 mt-4 mt-lg-0">
            <div class="card custom-box-shadow">
                <div class="card-header">
                    <p class="font-weight-bold">ویرایش اطلاعات کاربری</p>
                </div>
                <div class="card-body">
                    <form asp-controller="Account" asp-action="EditAccount" method="post" class="profile-font">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger small"></div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <i class="fas fa-user ml-2"></i>
                                    <label asp-for="FirstName"></label>
                                    <input asp-for="FirstName" class="form-control input-custom" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <i class="fas fa-user ml-2"></i>
                                    <label asp-for="LastName"></label>
                                    <input asp-for="LastName" class="form-control input-custom" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-4">
                            <i class="fas fa-envelope ml-2"></i>
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control input-custom" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-4">
                            <i class="fas fa-phone ml-2"></i>
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control input-custom" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <input hidden asp-for="UserId" />

                        <button type="submit" class="btn btn-edit">ویرایش اطلاعات</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}