@model LoginViewModel
@{
    ViewData["Title"] = "ورود به سایت";
    Layout = "~/Views/Shared/_Layout_Account.cshtml";
}

<div data-aos="fade-down">
    <div class="row d-flex justify-content-center align-items-center vh-100">
        <div class="col-11 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img src="~/imgs/icons8-user-100.png" alt="Register-Icon" />
                    </div>
                    <div class="d-flex justify-content-between">
                        <h5>ورود</h5>
                        <a asp-controller="Home" asp-action="Index" class="text-hover">
                            <i class="fas fa-home"></i>
                            صفحه خانه
                        </a>
                    </div>
                    <hr />
                    <form method="post" asp-controller="Account" asp-action="Login">
                        <!-- ModelState -->
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                        <!-- UserName -->
                        <div class="form-group">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control input-custom" />
                            <span asp-validation-for="UserName" class="text-danger font-weight-bold"></span>
                        </div>

                        <!-- Password -->
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control input-custom" />
                            <span asp-validation-for="Password" class="text-danger font-weight-bold"></span>
                        </div>

                        <!-- Remember Me -->
                        <div class="form-group">
                            <input asp-for="RememberMe" class="custom-checkbox" checked="checked" />
                            <label asp-for="RememberMe"></label>
                        </div>

                        <button type="submit" class="btn btn-account">ورود</button>
                    </form>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <a asp-controller="Account" asp-action="Register" class="text-hover">
                            <i class="fas fa-user-plus"></i>
                            عضویت
                        </a>
                        <a asp-controller="" asp-action="" class="text-hover">
                            فراموشی کلمه عبور
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

