@model ProjectWeb.Domain.ViewModels.UserPanel.Account.ChangePasswordViewModel

@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "_UserPanelLayout";
}

@section BreadCrumb
{
    <a asp-action="ChangePassword" asp-controller="Account" asp-area="UserPanel" class="text-hover">/ تغییر کلمه عبور</a>
}

<div class="card custom-box-shadow">
    <div class="card-header">
        <p class="font-weight-bold">@ViewData["Title"]</p>
    </div>
    <div class="card-body profile-font">
        <form asp-controller="Account" asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger small"></div>
            
            <div class="row">
                <div class="col-12">
                    <div class="form-group mt-4">
                        <label asp-for="OldPassword"></label>
                        <input asp-for="OldPassword" class="form-control input-custom" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group mt-4">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control input-custom" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group mt-4">
                        <label asp-for="RePassword"></label>
                        <input asp-for="RePassword" autocomplete="off" class="form-control input-custom" />
                        <span asp-validation-for="RePassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-edit mt-4">تغییر کلمه عبور</button>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
