@model ProjectWeb.Domain.ViewModels.Ticket.SendTicketViewModel

@{
    ViewData["Title"] = "ارسال تیکت جدید";
    Layout = "_UserPanelLayout";
}

@section BreadCrumb
{
    <a asp-action="SendTicket" asp-controller="Account" asp-area="UserPanel" class="text-hover">/ @ViewData["Title"]</a>
}

<div class="card custom-box-shadow">
    <div class="card-header">
        <p class="font-weight-bold">ارسال تیکت جدید</p>
    </div>
    <div class="card-body profile-font">
        <form asp-area="UserPanel" asp-controller="Account" asp-action="SendTicket" method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <div class="form-group">
                <label asp-for="TicketSubject"></label>
                <input asp-for="TicketSubject" class="form-control input-custom" />
                <span asp-validation-for="TicketSubject" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <label asp-for="TicketContent"></label>
                <textarea asp-for="TicketContent" class="editor"></textarea>
                <span asp-validation-for="TicketContent" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-edit">ارسال تیکت</button>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
