@model ProjectWeb.Domain.ViewModels.ManageRole.ShowRoleViewModel
@{
    ViewData["Title"] = "ویرایش مقام " + Model.RoleName;
    Layout = "_Layout_Admin";
}

<div class="row d-flex justify-content-center align-items-center vh-100 m-1 m-md-0">
    <div class="col-12 col-lg-5">
        <div class="card custom-box-shadow">
            <div class="card-body p-3 p-md-5">
                <div class="d-flex justify-content-between mb-2">
                    <p>ویرایش مقام <span class="font-weight-bold">@Model.RoleName</span></p>
                    <a asp-controller="ManageRoles" asp-action="Index" class="text-hover" title="بازگشت به لیست مقام ها">
                        <i class="fas fa-home"></i>
                    </a>
                </div>

                <form method="post" asp-controller="ManageRoles" asp-action="EditRole">
                    <!-- ModelState -->
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                    <!-- RoleId -->
                    <input hidden asp-for="RoleId" />

                    <!-- RoleName -->
                    <div class="form-group">
                        <input asp-for="RoleName" class="form-control input-custom" />
                        <span asp-validation-for="RoleName" class="text-danger small"></span>
                    </div>

                    <button type="submit" class="btn btn-edit">ویرایش مقام</button>
                </form>

                <hr />

                <p class="text-center small">
                    <i class="fas fa-trash-alt"></i>
                    برای حذف مقام <a asp-controller="ManageRoles" asp-action="DeleteRole" asp-route-id="@Model.RoleId" class="font-weight-bold text-hover">اینجا</a> بزنید
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("header").hide();
        $("footer").hide();
    </script>
    }