@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "لیست مقام ها";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    int row = 1;
}

<a asp-controller="ManageRoles" asp-action="AddRole" class="btn btn-custom-purple">
    افزودن مقام جدید
</a>

<hr />

@{
    if (!Model.Any())
    {
        <div class="alert alert-danger">
            هیچ مقامی یافت نشد
        </div>
    }
    else
    {
        <div class="input-icon">
            <form asp-controller="ManageRoles" asp-action="SearchRoles" method="get">
                <input type="search" class="form-control input-custom input-pr" placeholder="نام مقام را سرچ کنید ..." name="name" id="search-input" />
                <i class="fas fa-search icon-for-input" id="search-icon"></i>
            </form>
        </div>
        <div style="overflow-x: auto;">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>نام مقام</th>
                        <th>
                            <i class="fas fa-cog"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@row</td>
                            <td>@item.Name</td>
                            <td class="small">
                                <a asp-controller="ManageRoles" asp-action="DeleteRole" asp-route-id="@item.Id" class="text-hover">حذف مقام</a> /
                                <a asp-controller="ManageRoles" asp-action="EditRole" asp-route-id="@item.Id" class="text-hover">ویرایش مقام</a>
                            </td>
                        </tr>

                        row++;
                    }
                </tbody>
            </table>
        </div>
    }
}