@model ShowUserViewModel
@using Microsoft.AspNetCore.Identity
@using ProjectWeb.Domain.Models
@inject UserManager<UserApp> _userManager
@{
    ViewData["Title"] = "DeleteUser";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div data-aos="fade-down" data-aos-duration="1000">
    <div class="row d-flex justify-content-center align-items-center vh-100 m-1 m-md-0">
        <div class="col-12 col-lg-5">
            <div class="card">
                <div class="card-body p-3 p-md-5">
                    <div class="d-flex justify-content-between mb-2">
                        @{
                            var user = await _userManager.FindByIdAsync(Model.UserId);
                            <p>حذف کاربر <span class="font-weight-bold">@user.UserName</span></p>
                        }
                        <a asp-controller="ManageUsers" asp-action="Index" class="text-hover" title="بازگشت به لیست کاربران">
                            <i class="fas fa-home"></i>
                        </a>
                    </div>

                    <hr />

                    <div>
                        <h4>نام کاربری :</h4>
                        <p class="text-muted">@Model.UserName</p>
                        <h4>ایمیل کاربر :</h4>
                        <p class="text-muted">@Model.UserEmail</p>
                    </div>

                    <form method="post" asp-controller="ManageUsers" asp-action="DeleteUser">
                        <!-- ModelState -->
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <!-- UserId -->
                        <input hidden asp-for="UserId" />
                        <hr />
                        <p>
                            <i class="fas fa-exclamation-circle" style="color:#EB1D36;"></i>
                            آیا میخواهید این کاربر را حذف کنید؟
                        </p>
                        <button type="submit" class="btn btn-delete">حذف کاربر</button>
                    </form>

                    <hr />
                    <p class="text-center small">
                        <i class="fas fa-user-edit"></i>
                        برای ویرایش کاربر <a asp-controller="ManageUsers" asp-action="EditUser" asp-route-id="@Model.UserId" class="text-hover font-weight-bold">اینجا</a> بزنید.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $("header").hide();
        $("footer").hide();
    </script>
}