<div id="hamburger-icon">
    <i class="fas fa-bars" id="ham-icon" onclick="ShowNav()"></i>
</div>
<ul>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <li>
                @await Component.InvokeAsync("UserDropDownBox")
            </li>
            
        }
        else
        {
            <li class="ul-nav-item border custom-box-shadow">
                <a asp-controller="Account" asp-action="Login" class="navbar-hover-text">ورود</a>
                <span class="navbar-hover-text"> / </span>
                <a asp-controller="Account" asp-action="Register" class="navbar-hover-text">عضویت</a>
            </li>
        }
    }
</ul>

<div class="logo" data-aos="fade-down" data-aos-delay="500">
    <a href="/" title="صفحه خانه">
        <img src="~/imgs/Web Maker-1.png" alt="Logo" />
    </a>
</div>