@using ProjectWeb.Application.Extensions
@using ProjectWeb.Application.Interfaces
@using ProjectWeb.Application.Statics
@inject IUserService UserService
@{
    var user = await UserService.GetUserById(User.GetUserId());
}

<nav id="responsive-nav">
    <ul>
        <li class="p-3">
            <img src="~/imgs/Web Maker-1.png" alt="Logo" height="100" />
        </li>
        @{
            if (User.Identity.IsAuthenticated)
            {

                @if (User.IsInRole("ادمین"))
                {
                    <li>
                        <a asp-controller="Admin" asp-action="Index">
                            صفحه مدیریت سایت
                        </a>
                    </li>
                }
                <li>
                    <a asp-controller="Home" asp-action="Index" asp-area="UserPanel">
                        <i class="fas fa-user-circle"></i>
                        مشاهده حساب کاربری
                    </a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="EditInfo" asp-area="UserPanel">
                        <i class="fas fa-user-edit"></i>
                        ویرایش حساب کاربری
                    </a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="ChangePassword" asp-area="UserPanel">
                        <i class="fas fa-lock"></i>
                        تغییر کلمه عبور
                    </a>
                </li>
                <li>
                    <a asp-controller="Order" asp-action="ShowOrder">
                        <i class="fas fa-shopping-basket"></i>
                        سبد خرید
                    </a>
                </li>
                <li>
                    <a asp-controller="Order" asp-action="MyOrders">
                        <i class="fas fa-cart-arrow-down"></i>
                        سفارشات من
                    </a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="LogOut">
                        <i class="fas fa-sign-out-alt"></i>
                        خروج از حساب
                    </a>
                </li>

            }
            else
            {
                <li class="">
                    <i class="fas fa-user"></i>
                    <a asp-controller="Account" asp-action="Login" class="nav-text">ورود</a> /
                    <a asp-controller="Account" asp-action="Register" class="nav-text">عضویت</a>
                </li>
            }
        }
    </ul>
</nav>