@model List<MyTicketsViewModel>
@{
    ViewData["Title"] = "تیکت های من";
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
    int row = 1;
}

@{
    <div class="card custom-box-shadow mb-3">
        <div class="card-body">
            @if (!Model.Any())
            {
                <div class="alert alert-danger">
                    <i class="fas fa-exclamation-triangle"></i>
                    شما هیچ تیکت ارسال شده ای ندارید
                </div>
            }
            else
            {
                foreach (var ticket in Model)
                {
                    <span class="product-row custom-box-shadow">
                        @row
                    </span>
                    <div class="text-muted width-100">
                        <p>
                            <span class="font-weight-bold">عنوان تیکت :</span>
                            @ticket.TicketSubject
                        </p>
                        <hr />
                        <p>
                            <span class="font-weight-bold">تاریخ ارسال :</span>
                            @ticket.TicketDateTime
                        </p>
                        <p class="font-weight-bold">
                            متن تیکت :
                        </p>
                        <p>
                            @Html.Raw(ticket.TicketText)
                        </p>
                    </div>
                }
            }
        </div>
    </div>
}