@model TicketViewModels
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using ProjectWeb.Domain.Models
@inject UserManager<UserApp> _userManager

@{
    ViewData["Title"] = "ارسال تیکت جدید";
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}

<div class="card custom-box-shadow">
    <div class="card-header">
        <p class="font-weight-bold">ارسال تیکت جدید</p>
    </div>
    <div class="card-body profile-font">
        <form asp-controller="Ticket" asp-action="SendTicket" method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <i class="far fa-envelope-open ml-2"></i>
                        <label asp-for="TicketSubject"></label>
                        <input asp-for="TicketSubject" class="form-control input-custom" />
                        <span asp-validation-for="TicketSubject" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <i class="far fa-calendar ml-2"></i>
                        <label asp-for="TicketDateTime"></label>
                        <input asp-for="TicketDateTime" class="form-control input-custom" readonly />
                    </div>
                </div>
            </div>
            <div class="form-group mt-2">
                <i class="far fa-comment ml-2"></i>
                <label asp-for="TicketText"></label>
                <textarea asp-for="TicketText" id="my-textarea"></textarea>
                <span asp-validation-for="TicketText" class="text-danger"></span>
            </div>

            <input asp-for="UserId" hidden />
            <button type="submit" class="btn btn-edit">ارسال تیکت</button>
        </form>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/ckeditor/adapters/jquery.js"></script>
    <script>
        $(function () {
            $('#my-textarea').ckeditor();
        });
    </script>
}