
@{
    ViewData["Title"] = "پرداخت ناموفق";
    Layout = "~/Views/Shared/_Layout_Account.cshtml";
}

<div class="row d-flex justify-content-center align-items-center vh-100">
    <div class="col-12 col-lg-5">
        <div class="card custom-box-shadow">
            <div class="card-body text-center">
                <div class="text-center mb-4">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/imgs/error-100.png" alt="پرداخت_ناموفق" />
                    </a>
                </div>
                <h4 class="font-weight-bold text-danger">پرداخت ناموفق</h4>
                <hr />
                <h5 class="text-danger">
                    عملیات پرداخت با ارور مواجه شد!
                </h5>
                <p class="mt-3 text-muted">
                    لطفا چند دقیقه دیگر اقدام کنید.
                </p>
            </div>
        </div>
    </div>
</div>

