<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @await Html.PartialAsync("PartialViews/Css_LayOut")
</head>
<body>
    <header>
        <nav class="custom-nav mb-3">
            <div class="container">
                @await Html.PartialAsync("PartialViews/NavBarItems")
            </div>
        </nav>
        @await Html.PartialAsync("PartialViews/ResponsiveNav")
    </header>

    <section>
        <div class="container">
            <main role="main" class="pb-3">
                <div class="row">
                    <div class="col-12 col-lg-3 mb-3 mb-lg-0">
                        @await Html.PartialAsync("PartialViews/ProfileSideBar")
                    </div>
                    <div class="col-12 col-lg-9">
                        @RenderBody()
                        <div class="card custom-box-shadow mt-4">
                            <div class="card-body">
                                <a asp-controller="Order" asp-action="ShowOrder" class="text-hover">
                                    <p class="font-weight-bold">
                                        <i class="fas fa-shopping-basket ml-1 text-primary"></i>
                                        سبد خرید
                                    </p>
                                </a>
                                <div>
                                    @await Component.InvokeAsync("OrderDetail")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </section>

    <footer class="border-top footer text-muted mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </footer>

    @await Html.PartialAsync("PartialViews/Scripts_LayOut")
    @RenderSection("Scripts", required: false)
</body>
</html>