<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @await Html.PartialAsync("PartialViews/Css_LayOut")
</head>
<body>
    <header>
        <nav class="custom-nav mb-3">
            <div class="container">
                @await Html.PartialAsync("PartialViews/NavBarItems")
            </div>
        </nav>
        @await Html.PartialAsync("PartialViews/ResponsiveNav")
    </header>

    <section>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </section>

    <footer class="text-center text-lg-start text-muted">
        @await Html.PartialAsync("PartialViews/WebFooter")
    </footer>

    @await Html.PartialAsync("PartialViews/Scripts_LayOut")
    @RenderSection("Scripts", required: false)
</body>
</html>