<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <partial name="PartialViews/Css_LayOut" />

    @await RenderSectionAsync("Styles", false)
</head>
<body>
    <header>
        <nav class="custom-nav mb-3">
            <div class="container">
                <partial name="PartialViews/NavBarItems"/>
            </div>
        </nav>
        <partial name="PartialViews/ResponsiveNav"/>
    </header>

    <section>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </section>

    <partial name="PartialViews/WebFooter" />

    <partial name="PartialViews/Scripts_LayOut" />

    <partial name="_Notification" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>