
@{
    ViewData["Title"] = "داشبورد";
    Layout = "_UserPanelLayout";
}

@section BreadCrumb
{
    <a asp-action="Index" asp-controller="Home" asp-area="UserPanel" class="text-hover">/ داشبورد</a>
}
