@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-FD.eot');
    src: url('../fonts/Vazir-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-FD.woff2') format('woff2'), url('../fonts/Vazir-FD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: Vazir;
    background-image: url("https://cdn.zarinpal.com/theme/payment_gateway/images/pixel.png");
    background-size: 3.25em;
}

.card {
    border-radius: 10px;
    border: none;
}

.btn-account {
    width: 100%;
    background: #0096FF;
    color: white;
    opacity: .8;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.btn-account:hover {
    color: white;
    opacity: 1;
    transition: 1s;
    border-radius: 15px;
}

.btn-account:not(:hover) {
    transition: 1s;
}

.text-hover {
    color: black;
}

.text-hover:hover {
    text-decoration: none;
    color: #47B5FF;
    transition: .5s;
}

.text-hover:not(:hover) {
    transition: .5s;
}

.input-custom {
    border: none;
    border-bottom: 1px solid #d1d4d7;
    border-radius: 0;
    padding: 10px;
    width: 100%;
    transition: .1s;
}

.custom-box-shadow {
    border: 1px solid #ecf0f4 !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.InputWithIcon {
    margin-bottom: 15px;
    position: relative;
}

.InputWithIcon #login-user-input{
    padding-right: 30px;
}

#login-userName-icon {
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 20px;
    color: #d1d4d7;
}

.InputWithIcon #login-pass-input {
    padding-right: 30px;
}

#login-pass-icon {
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 20px;
    color: #d1d4d7;
}

.InputWithIcon #reg-user-input {
    padding-right: 30px;
}

.InputWithIcon #reg-user-icon {
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 20px;
    color: #d1d4d7;
}

.InputWithIcon #reg-email-input {
    padding-right: 30px;
}

.InputWithIcon #reg-email-icon {
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 20px;
    color: #d1d4d7;
}

.InputWithIcon #reg-pass-input {
    padding-right: 30px;
}

.InputWithIcon #reg-pass-icon {
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 20px;
    color: #d1d4d7;
}

.InputWithIcon #reg-passconfirm-input {
    padding-right: 30px;
}

.InputWithIcon #reg-passconfirm-icon {
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 20px;
    color: #d1d4d7;
}

.InputWithIcon #show-pass-icon {
    position: absolute;
    left: 5px;
    top: 10px;
    font-size: 20px;
    color: #d1d4d7;
    cursor: pointer;
}

.InputWithIcon #show-pass-icon:hover{
    color: #54BAB9;
}

.card-header-green-color {
    background: #7DCE13;
}

.btn-edit {
    width: 150px;
    background: #7DCE13;
    color: white;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 13px;
}

.btn-edit:hover{
    transition: 1s;
    border-radius: 15px;
    color: white;
}

.btn-edit:not(:hover){
    transition: 1s;
}