@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-FD.eot');
    src: url('../fonts/Vazir-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-FD.woff2') format('woff2'), url('../fonts/Vazir-FD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: Vazir;
    background-color: #f5f2ea;
}

.card {
    border-radius: 20px;
    box-shadow: 0 0px 7px 0 #eaeff4;
    border: none;
}

.btn-account {
    width: 100%;
    background: #3330E4;
    color: white;
    opacity: .8;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.btn-account:hover {
    color: white;
    opacity: 1;
    transition: 1s;
    border-radius: 15px;
}

.btn-account:not(:hover) {
    transition: 1s;
}

.text-hover {
    color: black;
}

.text-hover:hover {
    text-decoration: none;
    color: #47B5FF;
    transition: .5s;
}

.text-hover:not(:hover) {
    transition: .5s;
}

.input-custom {
    border-color: rgba(0,0,0, .1);
    border-radius: 10px;
}

.input-custom:hover {
    border-color: rgba(3, 138, 255, 0.3);
    transition: .5s;
}
