@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-FD.eot');
    src: url('../fonts/Vazir-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-FD.woff2') format('woff2'), url('../fonts/Vazir-FD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: Vazir;
}

.card {
    border-radius: 10px;
    border: none;
}

.btn-account {
    width: 100%;
    background: #0096FF;
    color: white;
    opacity: .8;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.btn-account:hover {
    color: white;
    opacity: 1;
    transition: 1s;
    border-radius: 15px;
}

.btn-account:not(:hover) {
    transition: 1s;
}

.text-hover {
    color: black;
}

.text-hover:hover {
    text-decoration: none;
    color: #47B5FF;
    transition: .5s;
}

.text-hover:not(:hover) {
    transition: .5s;
}

.input-custom {
    border-color: #e5edf0;
    border-radius: 5px;
}

.input-custom:hover {
    transition: .5s;
}

.custom-box-shadow {
    border: 1px solid #ecf0f4 !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
