
@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-FD.eot');
    src: url('../fonts/Vazir-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-FD.woff2') format('woff2'), url('../fonts/Vazir-FD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

ul,li{
    padding: 0;
    margin: 0;
}

body {
    font-family: Vazir;
}

.text-hover {
    color: black;
}

.text-hover:hover {
    text-decoration: none;
    color: #47B5FF;
    transition: .5s;
}

.text-hover:not(:hover) {
    transition: .5s;
}

.card {
    border-radius: 10px;
    border: none;
}

.btn-role {
    width: 100%;
    background: #3CCF4E;
    color: white;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.btn-role:hover {
    color: white;
    transition: 1s;
    border-radius: 15px;
}

.btn-role:not(:hover) {
    transition: 1s;
}

.input-custom {
    border-color: #e5edf0;
    border-radius: 5px;
}

.input-custom:hover {
    transition: .5s;
}

.btn-delete {
    width: 100%;
    background: #EB1D36;
    color: white;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.btn-delete:hover {
    color: white;
    transition: 1s;
    border-radius: 15px;
}

.btn-delete:not(:hover) {
    transition: 1s;
}

.btn-edit {
    width: 100%;
    background: #646FD4;
    color: white;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.btn-edit:hover {
    color: white;
    transition: 1s;
    border-radius: 15px;
}

.btn-edit:not(:hover) {
    transition: 1s;
}

.custom-nav {
    width: 100%;
    background: #7952b3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    align-items: center;
}

.custom-nav ul {
    float: left;
    list-style: none;
}

header .custom-nav ul {
    float: left;
    list-style: none;
}

header .custom-nav ul li {
    font-size: 15px;
    float: left;
    margin-right: 20px;
    margin-top: 17px;
}

header .custom-nav ul li a {
    text-decoration: none;
    color: white;
}

header .custom-nav .logo {
    float: right;
    width: 29%;
    align-items: center;
}

header .custom-nav .logo img{
    height: 55px;
    margin-top: 7px;
}

.text-hover {
    color: black !important;
    cursor: pointer;
}

.text-hover:hover {
    text-decoration: none;
    color: #47B5FF !important;
    transition: .5s;
}

.text-hover:not(:hover) {
    transition: .5s;
}

.menu-text-hover {
    color: black !important;
    cursor: pointer;
}

.menu-text-hover:hover {
    text-decoration: none;
    color: #79c74e !important;
    transition: .5s;
}

.menu-text-hover:not(:hover) {
    transition: .5s;
}

.dropdown{
    z-index: 1;
}

.dropdown .dropdown-menu {
    margin-top: 25px;
    line-height: 2;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border: none;
}

.dropdown .dropdown-menu :hover {
    background-color: transparent;
}

.small-dot {
    font-size: 5px;
    color: #79c74e;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #CFD2CF;
}

.main-menu {
    background-color: red;
    height: 100%;
}

.white-text{
    color: white !important;
}

#responsive-menu {
    display: none;
}

#hamburger-icon{
    display: none;
}

.body-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
}

.btn-edit-user {
    width: 100%;
    padding: 5px;
    color: white;
    font-size: 15px;
    background: #81CACF;
}

.btn-edit-user:hover{
    color: white;
    border-radius: 10px;
    transition: .5s;
}

.btn-edit-user:not(:hover){
    transition: .5s;
}

.btn-delete-user {
    width: 100%;
    padding: 5px;
    color: white;
    font-size: 15px;
    background: #EB1D36;
}

.btn-delete-user:hover {
    color: white;
    border-radius: 10px;
    transition: .5s;
}

.btn-delete-user:not(:hover){
    transition: .5s;
}

.btn-addrole-user {
    width: 100%;
    padding: 5px;
    color: white;
    font-size: 15px;
    background: #3CCF4E;
}

.btn-addrole-user:hover{
    color: white;
    border-radius: 10px;
    transition: .5s;
}

.btn-addrole-user:not(:hover){
    transition: 1s;
}

.custom-box-shadow {
    border: 1px solid #ecf0f4 !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-user-settings {
    width: 150px;
    padding: 5px;
    color: white;
    font-size: 15px;
    background: #EB1D36;
    transition: .5s;
}

.btn-user-settings:hover{
    color: white;
    border-radius: 10px;
    transition: .5s;
}

.custom-alert-danger {
    width: 100%;
    padding: 10px;
    border-right: 5px solid #ff4858;
    background: #ffe0e3;
    border-radius: 3px;
    color: #ff4858;
}

.custom-alert-danger i{
    position:relative;
    top: 5px;
    font-size:20px;
}

.custom-alert-info {
    width: 100%;
    padding: 35px;
    border-right: 5px solid #71c9ff;
    background: #d7f0ff;
    border-radius: 3px;
    color: black;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.custom-alert-info #ticket-date{
    position:absolute;
    top: 5px;
    right: 10px;
    font-size: small;
    display: inline;
}

.custom-alert-info #ticket-detail{
    position: absolute;
    right: 8px;
    font-size: 16px;
}

.dropdown-menu a{
    display: block;
}

.dropdown-no-m{
    margin-top: 0 !important;
}

.input-with-icon{
    position: relative;
    margin-bottom: 20px;
}

.icon-in-input{
    position: absolute;
    top: 10px;
    right: 10px;
}

table {
    font-weight: bold;
    border-bottom: 3px solid #7952b3;
    box-shadow: 1px 2px 5px 0px #def7f6;
}

table thead{
    /*background: #03987a;*/
    background: #7952b3;
    color: white;
}

table tbody tr:hover{
    background: #e5edf0; 
}

table tbody tr:nth-child(even) {
    background: #f3f3f3;
    color: #7952b3;
}


.btn-custom-purple {
    background: #7952b3;
    min-width: 150px;
    color: white;
    margin-bottom: 10px;
    transition: .5s;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-custom-purple:hover{
    color: white;
    border-radius: 10px;
    transition: .5s;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
}

.input-icon{
    position: relative;
    margin-bottom: 20px;
}

.icon-for-input {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #e5edf0;
}

.input-pr{
    padding-right: 30px;
}

.btn-ticket-answer {
    background: #3120E0;
    min-width: 150px;
    color: white;
    transition: .5s;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-ticket-answer:hover{
    color: white;
    border-radius: 10px;
    transition: .5s;
}

.btn-ticket-answer-post {
    width: 150px;
    background: #7DCE13;
    color: white;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 13px;
}

.btn-ticket-answer-post:hover{
    transition: 1s;
    border-radius: 15px;
    color: white;
}

.btn-ticket-answer-post:not(:hover){
    transition: 1s;
}

.ticket-info img{
    width: 100%;
}

ul{
    list-style-position: inside;
}