@media screen and (max-width:578px){
    header nav ul{
        display: none;
    }

    header nav .logo{
        float: left !important;
        text-align: left;
    }

    #hamburger-icon {
        display: block;
        float: right;
    }

    #hamburger-icon #ham-icon{
        font-size: 25px;
        margin: 20px 0;
        cursor: pointer;
    }

    #responsive-menu {
        overflow-y: auto;
        width: 220px;
        height: 100%;
        background: white;
        top: 0;
        z-index: 1;
        right: -220px;
        position: fixed;
        display: none;
    }

    #responsive-menu ul{
        width: 100%;
        height: 100%;
        display: block;
        margin-top: 10px;
    }

    #responsive-menu ul li{
        width: 100%;
    }

    #responsive-menu ul li a{
        color: black;
        display: block;
        padding: 10px;
    }

    #responsive-menu ul li a:hover{
        background: #f5f5ff !important;
    }
}