@media screen and (max-width: 992px){
    .intro-title h2 {
        font-size: 24px;
    }

    .intro-title p {
        font-size: 13px;
    }
}

@media screen and (max-width: 768px){
    header nav ul{
        display: none;
    }

    #hamburger-icon{
        display: block !important;
    }

    #hamburger-icon #ham-icon{
        font-size: 25px;
        margin: 25px 0;
        cursor: pointer;
        position: relative;
        z-index:1;
        left: 10px;
    }

    #responsive-nav{
        overflow-y: auto;
        overflow-x: hidden;
        display: none;
        width: 220px;
        height: 100%;
        position: fixed;
        top: 0;
        right: -220px;
        background: rgba(255, 255, 255);
        z-index: 1;
        font-size: 15px;
    }

    #responsive-nav span, i{
        color: black !important;
    }

    #responsive-nav ul{
        display: block;
        width: 100%;
        list-style: none;
    }

    #responsive-nav ul li{
        width: 100%;
        margin: 15px;
    }

    #responsive-nav ul li a{
        text-decoration: none;
        color: black;
        transition: all 0.5s ease;
    }

    #responsive-nav ul li a:hover{
        color: #47B5FF;
    }
}

@media screen and (max-width: 400px){
    .intro-title h2{
        font-size: 18px;
    }
    .intro-title p {
        font-size: 12px;
    }
}