/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-FD.eot');
    src: url('../fonts/Vazir-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-FD.woff2') format('woff2'), url('../fonts/Vazir-FD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

ul {
    list-style: none !important;
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

    a:hover {
        text-decoration: none;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Vazir;
    word-spacing: 1px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background: white;
}

.custom-nav {
    background: #fefefe;
    display: flex;
    align-items: center;
}

header {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.custom-nav ul {
    float: left;
    list-style: none;
    margin-top: 15px;
}

header .custom-nav ul {
    float: left;
    list-style: none;
}

    header .custom-nav ul li {
        display: flex;
        font-size: 15px;
        float: left;
    }

header .custom-nav .logo {
    float: right;
    align-items: center;
    width: 30%;
    position: relative;
}

    header .custom-nav .logo img {
        width: 5rem;
        height: 5rem;
        object-fit: contain;
    }

#hamburger-icon {
    float: left;
    display: none;
}

#responsive-nav {
    display: none;
}

.text-hover {
    color: black !important;
    cursor: pointer;
}

    .text-hover:hover {
        text-decoration: none;
        color: #47B5FF !important;
        transition: .5s;
    }

    .text-hover:not(:hover) {
        transition: .5s;
    }

.menu-text-hover {
    color: black !important;
    cursor: pointer;
}

    .menu-text-hover:hover {
        text-decoration: none;
        color: #79c74e !important;
        transition: .5s;
    }

    .menu-text-hover:not(:hover) {
        transition: .5s;
    }

.dropdown .dropdown-menu {
    margin-top: 15px;
    line-height: 2;
    font-size: 13px;
    border: 1px solid #eaf1f2;
    position: absolute;
    z-index: 1;
    border-radius: 0;
    min-width: 250px;
    padding: 15px;
}

.dropdown .dropdown-menu :hover {
    background-color: transparent;
}

.dropdown-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    outline: 1px solid #eaf1f2;
    outline-offset: 2px;
}

.dropdown-item {
    padding: 0.25rem 0;
}

.small-dot {
    font-size: 5px;
    color: #79c74e;
}

.icon-hover {
    color: #d0d5d8;
}

    .icon-hover:hover {
        transition: .5s;
        color: #47B5FF;
        cursor: pointer;
    }

    .icon-hover:not(:hover) {
        transition: .5s;
    }

.menu-small-icon {
    color: #47B5FF;
    font-size: 6px;
}

.small-font {
    font-size: 13px;
}

.custom-box-shadow {
    border: 1px solid #e4ebf4;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 8px #e4ebf5;
    -moz-box-shadow: 0 0 8px #e4ebf5;
    -webkit-box-shadow: 0 0 8px #e4ebf5;
}

.list-group-item {
    border: 0 !important;
    padding: 8px 8px;
}

.card-header {
    background-color: white;
}

.profile-font {
    color: lightslategray;
    font-size: 13px;
}

.input-custom {
    border-color: #e5edf0;
    border-radius: 5px;
    font-size: 13px;
}

    .input-custom:hover {
        transition: .5s;
    }

.btn-edit {
    width: 150px;
    background: #77c444;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.btn-edit:hover {
    color: white;
    background: #50c444;
}

    .close-icon {
        cursor: pointer;
    }

.nav-text {
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

    .nav-text:hover {
        color: #47B5FF;
        transition: 0.5s;
    }

.intro-title {
    text-shadow: 1px 1px 2px lightblue;
}

    .intro-title p {
        margin-top: 20px;
    }

.pa-z1 {
    position: relative;
    z-index: 1;
}

.svg-pi {
    position: absolute;
    z-index: 0;
    top: 0;
}

.ul-nav-item {
    z-index: 1;
    position: relative;
    top: 4px;
}

.navbar-hover-text {
    display: inline-block;
    padding: 10px 10px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

    .navbar-hover-text:hover {
        color: #47B5FF;
        text-decoration: none;
    }

.custom-ul {
    list-style: circle;
    list-style-position: inside;
}

.width-100 {
    width: 100% !important;
}

.icon-for-btn {
    position: absolute;
    top: 13px;
    right: 10px;
    color: white;
}

.my-p {
    border-bottom: 3px solid #00bffe;
    width: fit-content;
    padding: 5px;
}

#btn-header {
    border: none;
    background: #2a87c6;
    color: white;
    padding: 15px 20px;
    border-radius: 25px 0 25px 0;
    outline: none;
    transition: 1s ease;
}

    #btn-header:hover {
        background: #47B5FF;
    }

.remove-icon {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    left: -10px;
    top: -10px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #b0b9be;
    transition: all 0.5s ease;
    cursor: pointer;
}

    .remove-icon:hover {
        color: red;
    }

.product-row {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #b0b9be;
}

.btn-buy {
    width: 100%;
    background: #7DCE13;
    color: white;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 13px;
}

    .btn-buy:hover {
        transition: 1s;
        border-radius: 15px;
        color: white;
    }

    .btn-buy:not(:hover) {
        transition: 1s;
    }

.basket-title {
    color: #47B5FF;
}

    .basket-title:hover {
        text-decoration: none;
        color: #47B5FF;
    }

.muted-color {
    color: #b0b9be;
    transition: all 0.5s ease;
}

    .muted-color:hover {
        color: #47B5FF
    }

.my-image {
    clip-path: circle();
    outline: medium solid #47B5FF;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    line-height: 100px;
    text-align: center;
    font-size: 27px;
    color: #657d9a;
    background-color: rgba(228,235,245,0.4);
    position: absolute;
    cursor: pointer;
    object-fit: cover;
    outline: 2px solid #eaf1f2;
    outline-offset: 3px;
}

.profile-img-background {
    margin: 0 auto;
    position: relative;
    width: 130px;
    height: 130px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.display-none {
    display: none !important;
}

.BreadCrumb {
    border-bottom: 1px solid #dee8ed;
    background-color: #eaf0f2;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 13px;
}

.profile-quick-access {
    margin-bottom: 30px;
    position: relative;
    padding-top: 25px;
}

.profile-quick-access .details {
    width: 100%;
    padding: 10px 0 15px;
    text-align: center;
}

.profile-quick-access ul {
    width: 100%;
    display: flex;
    border-top: 1px solid #e4ebf4;
}

.profile-quick-access ul li {
    width: 33.33%;
    text-align: center;
    border-left: 1px solid #e4ebf4;
}

.profile-quick-access ul li a {
    display: block;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.navbar-img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
    outline: 1px solid #eaf1f2;
    outline-offset: 2px;
}