@using Microsoft.AspNetCore.Identity
@using ProjectWeb.Domain.Models
@using ProjectWeb.Application.Interfaces
@inject UserManager<UserApp> userManager
@inject IWebProductInterface webProductInterface
@inject IOrderInterface orderInterface
@{
    ViewData["Title"] = "صفحه مدیریت سایت";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<section>
    <div class="row">
        <div class="col-12 col-md-4 mb-0 mb-sm-3">
            <div class="card custom-box-shadow">
                <div class="card-body text-center">
                    <img src="~/imgs/users-100.png" alt="users-icon" />
                    <a asp-controller="ManageUsers" asp-action="Index" class="text-hover">
                        <p class="mt-3">
                            تعداد کاربران
                        </p>
                    </a>
                    @{
                        var usersCount = userManager.Users.Count();
                        <div class="custom-circle custom-box-shadow ">
                            <span>
                                @usersCount
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mt-3 mt-sm-0 mb-0 mb-sm-3">
            <div class="card custom-box-shadow">
                <div class="card-body text-center">
                    <img src="~/imgs/products-100.png" alt="users-icon" />
                    <a asp-controller="WebProduct" asp-action="Index" class="text-hover">
                        <p class="mt-3">
                            تعداد محصولات
                        </p>
                    </a>
                    <div class="custom-circle custom-box-shadow">
                        <span>
                            @webProductInterface.ProductsCount()
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mt-3 mt-sm-0">
            <div class="card custom-box-shadow">
                <div class="card-body text-center">
                    <img src="~/imgs/logistics-100.png" alt="users-icon" />
                    <a asp-controller="Admin" asp-action="Orders" class="text-hover">
                        <p class="mt-3">
                            تعداد سفارشات
                        </p>
                    </a>
                    <div class="custom-circle custom-box-shadow">
                        <span>
                            @orderInterface.FinallyOrders()
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <div class="card custom-box-shadow text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <img src="~/imgs/money-96.png" alt="جمع پرداختی" />
                            <div class="text-muted mt-2">
                                <p>
                                    <span class="font-weight-bold">مجموع پرداختی :</span>
                                    @orderInterface.UserPaysSum() تومان 
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                            <img src="~/imgs/done-96.png" alt="پروژه های انجام شده" />
                            <div class="text-muted mt-2">
                                <p>
                                    <span class="font-weight-bold">پروژه ها انجام شده :</span>
                                    3 عدد
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

